<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="http://yegor256.github.io/tacit/tacit.min.css"/>
        <style>
            ul li{
                display:inline;
            }
        </style>
        <script src="/../../news/vendor/tinymce/tinymce/tinymce.min.js"></script>
          <script type="text/javascript">
          console.log("here");
          tinymce.init({
            selector: '.mytextarea',
            protect: [
            /\<\/?(if|endif)\>/g
            ]// Protect <if> & </endif>
          });
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
        <ul>
            <li><a href="{{ path('news_default_index') }}">Homepage! |</a></li>
            <li><a href="{{ path('news_default_about') }}">About Us |</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">Login |</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Logout |</a></li>
            <li><a href="{{ path('article_index') }}">Articles |</a></li>
            <li><a href="{{ path('category_index') }}">Category</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <ul>
                    <li><a href="{{ path('admin_index') }}">Admin Index |</a></li>
                    <li><a href="{{ path('admin_articleIndex') }}">Admin Articles |</a></li>
                    <li><a href="{{ path('admin_categoryIndex') }}">Admin Category</a></li>
                </ul>
            {% endif %}
        </ul>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
