{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="../../../web/images/articles/{{ article.imageName }}"></td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ article.body|striptags }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        
        
        {#<li>#}
        {#    <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
        {#    {{ form_start(delete_form) }}#}
        {#        <input type="submit" value="Delete">#}
        {#    {{ form_end(delete_form) }}#}
        {#</li>#}
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('admin_articleIndex') }}">Back to the list</a>
        </li>
        {% endif %}
        {% if not is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
